<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <header id="header">
        <!-- place navbar here -->
    </header>
    <main>
        <div id="app" class="container">
            <h1>Productos</h1>

            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section>
                    <div class="row">
                        <div class="col-md-4 mb-4" v-for="(producto, index) in productos" :key="producto.id">
                            <div class="card h-100">
                                <img :src="producto.imagen" class="card-img-top" alt="...">
                <                    <div class="card-body">
                                        <h5 class="card-title">{{ producto.nombre }}</h5>
                                        <p class="card-text">{{ producto.descripcion }}</p>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">ID: {{ producto.id }}</li>
                                            <li class="list-group-item">Precio: {{ producto.precio }}</li>
                                            <li class="list-group-item">Stock: {{ producto.stock }}</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary" @click="mostrarCarrito">Comprar</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </main>

    <!-- Formulario de Registro -->
    <div id="registroForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registroFormLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registroFormLabel">Registro de Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registroUsuarioForm">
                        <div class="mb-3">
                            <label for="registroEmail" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="registroEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="registroPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="registroPassword" required>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="registrarUsuario()">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Formulario de Inicio de Sesión -->
    <div id="loginForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginFormLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginFormLabel">Inicio de Sesión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="loginUsuarioForm">
                        <div class="mb-3">
                            <label for="loginEmail" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="loginEmail" required>
                        </div>
                        <div class="mb-3">
                            <label for="loginPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="loginPassword" required>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="iniciarSesion()">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>





    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Formulario emergente Validacion Admin para CRUD -->
    <div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="adminModalLabel">Iniciar sesión como Admin</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="adminForm">
                        <div class="mb-3">
                            <label for="username" class="form-label">Usuario</label>
                            <input type="text" class="form-control" id="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="validateAdmin()">Iniciar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Link de Bootstrap -->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->

    <script src="/js/productos.js"></script>
</body>

</html>
